body {
    background-color: #FFF7F0;
    color: #030303;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 1200px;
    
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo img {
    width: 64px;
    aspect-ratio: 1;
    
    
  }
  
  #call-to-action {
    background-color: #030303;
    color: #FFF7F0;
    text-decoration: none;
    padding: 14px 45px;
    border-radius: 1000px;
    margin-block-end: 1rem;
    
  }
  
  .text-content {
    text-align: center;

  }
  
  h1 {
    font-size: 56px;
    margin-block-end: 22px;
    padding: 5px;
    
  }

  .grid-container {
    display: grid;
    grid-template-columns: 18rem 18rem 18rem;
    grid-template-rows: 800px, 500px; 
    justify-content: center;
    width: 1110px 1110px;
    height:800px 527px;
    margin-block-end: 10px;
    gap: 100px;
    padding: 50px;
    column-width: 5px 50px;
    
    
  }

  .grid-container img {
    display: grid;
    justify-content: right;


  }

  h2 {
    text-align: left;
    padding: 1rem;
  }

.item-1 {
  background-color:rgba(36, 36, 170, 0.842);
  width: 354px;
  height: 364px;
  border-radius: 10px;
 
  

} 

.item-2 {
  background-color: #df6d6d;
  width: 354px;
  height: 364px;
  border-radius: 10px;
  
}

.item-3 {
  background-color:cyan;
  width: 354px;
  height: 364px;
  border-radius: 10px;
  

}

  #illustration-graphic img {
    display: block;
    width: 128px ;
    height: 192px;
    justify-items: right;
    


    

  }

  #illustation-illustrations img {
    width: 229.75px;
    height: 114.87px;
    
  }

  #illustation-photography img {
    width: 216.65px ;
    height: 86.66px;px ;

  }
  
#women img {
  width: 24rem;
  height: 25rem;
}
  
#encabezado h1 {
  width: 700px;
  align-items: center;
  font-family: heading;
  font-size: 3.5rem;
  text-align: left;
  padding:.5rem;
  margin: 1rem;

}

#encabezado p {
  width: 700px;
  align-items: center;
  font-family: heading;
  font-size: 1.7rem;
  text-align:left;
  padding: .5rem;
  margin: 1rem;
  

}

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    margin: 1rem;
    
   
  }

  #call-to-actions{
    background-color: #df6d6d;
    color: #FFF7F0;
    text-decoration: none;
    padding: 14px 45px;
    border-radius: 1000px;
    
    
  }
 
